<aside class="resume position-absolute h-50 w-30 top-50
    start-0 translate-middle-y rounded-3 bg-white p-3"
       style="z-index: 999;">
    <h2>Object: <span id="name">Undefined</span></h2>
    <ul class="display-6 list-group">
        <li class="list-group-item">longitude: <span id="lng">0</span> °</li>
        <li class="list-group-item">latitude: <span id="lat">0</span> °</li>
        <li class="list-group-item">altitude: <span id="altidude">0</span> m</li>
        <li class="list-group-item">speed: <span id="speed">0</span> m/s</li>
        <li class="list-group-item">altitude: <span id="altidude">0</span> m</li>
        <li class="list-group-item">Batterie: <span id="battery">100</span> %</li>
    </ul>
</aside>

