<div class="satellite">
    <input class="btn-check" type="radio" name="SatelliteType" id="inlineRadio0" value="VAB"
         data-color="red" data-type="vab" data-icon="shield-heart">
    <label class="btn btn-outline-danger" for="inlineRadio0">VAB</label>
    <input class="btn-check" type="radio" name="SatelliteType" id="inlineRadio1" value="1_TER_HERCULE"
         data-color="blue" data-type="satellite" data-icon="truck-monster">
    <label class="btn btn-outline-primary" for="inlineRadio1">RobHer 1</label>
    <input class="btn-check" type="radio" name="SatelliteType" id="inlineRadio2" value="1_TER_PETIT-POUCET"
         data-color="blue" data-type="satellite" data-icon="truck">
    <label class="btn btn-outline-primary" for="inlineRadio2">RPP 1</label>
    <input class="btn-check" type="radio" name="SatelliteType" id="inlineRadio3" value="1_AIR_DAO"
         data-color="blue" data-type="satellite" data-icon="fa-mosquito">
    <label class="btn btn-outline-primary" for="inlineRadio3">DAO 1</label>
    <input class="btn-check" type="radio" name="SatelliteType" id="inlineRadio4" value="2_TER_HERCULE"
         data-color="green" data-type="satellite" data-icon="truck-monster">
    <label class="btn btn-outline-success" for="inlineRadio4">RobHer 2</label>
    <input class="btn-check" type="radio" name="SatelliteType" id="inlineRadio5" value="2_TER_PETIT-POUCET"
         data-color="green" data-type="satellite" data-icon="truck">
    <label class="btn btn-outline-success" for="inlineRadio5">RPP 2</label>
    <input class="btn-check" type="radio" name="SatelliteType" id="inlineRadio6" value="2_AIR_DAO"
         data-color="green" data-type="satellite" data-icon="fa-mosquito">
    <label class="btn btn-outline-success" for="inlineRadio6">DAO 2</label>
    <input class="btn-check" type="radio" name="SatelliteType" id="inlineRadio7" value="SOU_AIR_DLR"
         data-color="orange" data-type="satellite" data-icon="feather-pointed">
  <label class="btn btn-outline-warning" for="inlineRadio7">DLR</label>
</div>




