<nav class="trap">
    <input class="btn-check" type="radio" name="TrapType" id="inlineRadio11" value="Balise"
         data-color="gray" data-type="vab" data-icon="square">
    <label class="btn btn-outline-secondary" for="inlineRadio11">Balise</label>
    <input class="btn-check" type="radio" name="TrapType" id="inlineRadio10" value="normal"
         data-color="red" data-type="vab" data-icon="square-xmark" >
    <label class="btn btn-outline-danger" for="inlineRadio10">Piége</label>
</nav>




