<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    {% endblock %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="https://unpkg.com/pouchdb@^5.2.0/dist/pouchdb.js"></script>
	<script src="https://unpkg.com/leaflet.tilelayer.pouchdbcached@latest/L.TileLayer.PouchDBCached.js"></script>
</head>
<body>
    <div style="display: grid;grid-template-columns: 2fr 1fr;grid-gap: 20px;">
        {% include "components/satellite.html" %}
        {% include "components/traps.html" %}
    </div>
    {% block content %}
    {% endblock %}
    {% include "components/popup.html" %}

    {% block scripts %}
    {% endblock %}

</body>
</html>

