{% extends "shared/base.html" %}


{% block title %}
    <title>Theseus IHM</title>
    {{ header|safe }}
{% endblock %}

{% block content %}
    <div id="map" style="top:34px">{{ map|safe }}</div>
{% endblock %}

{% block scripts %}
    <script>
        {{ script|safe }}
        const NOISE = 0.00001;
        marker = [];
        satellites = {};
        map = {{ mapname|safe }};
        ws = new WebSocket("ws://" + window.location.hostname + ":8000/ws/1");

         function add_marker_to_map(marker_info){
            let location = L.latLng(marker_info.lat, marker_info.lng);
            let DAOIcon = L.AwesomeMarkers.icon({
                icon: marker_info.icon,
                prefix: "fa",
                markerColor: marker_info.color
            });
            let option = {};
            if(marker_info.hasOwnProperty("draggable")) {
                option.draggable = marker_info.draggable;
            }  else {
                option.draggable = true;
            }
            option.title = marker_info.name;
            option.icon = DAOIcon;
            var m = new L.marker(location, option);
            m.name = marker_info.name;
            m.lat = marker_info.lat;
            m.lng = marker_info.lng;
            m.addTo({{ mapname|safe }});
            m.bindPopup('<p> ' + m.name + '<br/>' + L.Util.formatNum(location.lat) + ' º <br />'
                + L.Util.formatNum(location.lng) + ' º <br />'
                + 'altitude: ' + '0' +' m </p>').openPopup();
            m.on('dblclick', function (e){
               var mark = m;
               $.ajax({
                   url: '/api/waypoint/delete/' + mark.id,
                   method: 'DELETE',
                   contentType: "application/json; charset=utf-8"
               })
                   .done(r => map.removeLayer(mark))
                   .fail(r => console.log(r.responseJSON.detail))
               ;
               return false;
            });
            m.on('dragend', function (e){
                let mark = e.target;
                let location = mark.getLatLng();
                let item = {lat:location.lat, lng:location.lng};
                mark.setLatLng(new L.LatLng(location.lat, location.lng),{draggable:'true'});
                $.ajax({
                    url: '/api/waypoint/update/' + mark.id,
                    method: 'PATCH',
                    data: JSON.stringify(item),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8"
                })
                    .fail(r => console.log(r.responseJSON.detail));
                return false;
            });
            return m;
        };

        function add_marker_to_base(m){
            let location = m.getLatLng();
            let item = { "lat": location.lat, "lng": location.lng, "waypoint": m.name};
            $.post({
                url: '/api/waypoint/',
                data: JSON.stringify(item),
                dataType: "json",
                contentType: "application/json; charset=utf-8"
            }).done(function (json){
                    m.id = json.id;
                    console.log("id=" + m.id + " " + json.toString());
                });
        };

        map.on('click', function(e) {
            let popLocation= e.latlng;
            console.log(popLocation);
            let selected = $('.trap input[name="TrapType"]:checked');
            let model = selected.val();
            let color = selected.data("color");
            let icon = selected.data("icon");
            m = add_marker_to_map({
                lat: popLocation.lat,
                lng: popLocation.lng,
                name: model,
                color: color,
                icon: icon
            })
            add_marker_to_base(m);
        });

        function add_satellite_to_map(m){
            let location = L.latLng(m.latitude + Math.random()*NOISE, m.longitude + Math.random()*NOISE);
            let DAOIcon = L.AwesomeMarkers.icon({
                icon: m.icon,
                prefix: "fa",
                markerColor: m.color
            });
            let option = {};
            option.draggable = false;
            option.title = m.name;
            option.icon = DAOIcon;
            let mark = new L.marker(location, option);
            mark.addTo({{ mapname|safe }});
            return mark;
        }

        function update_satellite(m){
            console.log(m.name);
            mark = satellites[m.name];
            if (mark===undefined){
                mark = add_satellite_to_map(m);
            }
            lat = m.latitude + Math.random()*NOISE;
            lng = m.longitude + Math.random()*NOISE;
            console.log(lat, lng);
            mark.setLatLng([lat, lng]);
        }

        function update_satellites() {
            $.get({
                url: '/api/satellites/last',
                dataType: "json",
                contentType: "application/json; charset=utf-8"
            }).done(function(json){
                      json.forEach(m => {
                          if(m.name in satellites){
                              update_satellite(m);
                          } else {
                              console.log("new sat:" + m.name)
                              btn = $('.satellite input[value=' + m.name + ']')
                              m.color = btn.data("color");
                              m.icon = btn.data("icon")
                              mark = add_satellite_to_map(m);
                              satellites[m.name] = mark
                              console.log(mark)
                          }
                      });
                  });
            //ws.send("tick")

        }

        $(update_satellites());

        ws.onmessage = function(event) {
            console.log("WS message:" + event.data);
            const msg = JSON.parse(event.data);
            update_satellite(msg);
        };
        /*
        var intervalID = window.setInterval(
            update_satellites,
            5000
        ); */
    </script>

{% endblock %}
