{% extends "shared/base.html" %}


{% block title %}
    <title>Theseus IHM</title>
    {{ header|safe }}
{% endblock %}

{% block content %}
    <div id="map" style="top:34px">{{ map|safe }}</div>
{% endblock %}

{% block scripts %}
    <script>
        {{ script|safe }}
        var marker = [];
        var map = {{ mapname|safe }};

        const RBBIcon = L.AwesomeMarkers.icon({
                icon: 'truck-monster',
                prefix: "fa",
                markerColor: 'green'
            });


        function add_marker_to_map(marker_info){
            let location = L.latLng(marker_info.lat, marker_info.lng);
            let DAOIcon = L.AwesomeMarkers.icon({
                icon: marker_info.icon,
                prefix: "fa",
                markerColor: marker_info.color
            });
            let option = {};
            if(marker_info.hasOwnProperty("draggable")) {
                option.draggable = marker_info.draggable;
            }  else {
                option.draggable = true;
            }
            option.title = marker_info.name;
            option.icon = DAOIcon;
            var m = new L.marker(location, option);
            m.name = marker_info.name;
            m.lat = marker_info.lat;
            m.lng = marker_info.lng;
            m.addTo({{ mapname|safe }});
            m.bindPopup('<p> ' + m.name + '<br/>' + L.Util.formatNum(location.lat) + ' º <br />'
                + L.Util.formatNum(location.lng) + ' º <br />'
                + 'altitude: ' + '0' +' m </p>').openPopup();
            m.on('dblclick', function (e){
               var mark = m;
               $.ajax({
                   url: '/api/waypoint/delete/' + mark.id,
                   method: 'DELETE',
                   contentType: "application/json; charset=utf-8"
               })
                   .done(r => map.removeLayer(mark))
                   .fail(r => console.log(r.responseJSON.detail))
               ;
               return false;
            });
            m.on('dragend', function (e){
                let mark = e.target;
                let location = mark.getLatLng();
                let item = {lat:location.lat, lng:location.lng};
                mark.setLatLng(new L.LatLng(location.lat, location.lng),{draggable:'true'});
                $.ajax({
                    url: '/api/waypoint/update/' + mark.id,
                    method: 'PATCH',
                    data: JSON.stringify(item),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8"
                })
                    .fail(r => console.log(r.responseJSON.detail));
                return false;
            });
            return m;
        };

        function add_marker_to_base(m){
            let location = m.getLatLng();
            let item = { "lat": location.lat, "lng": location.lng, "waypoint": m.name};
            $.post({
                url: '/api/waypoint/',
                data: JSON.stringify(item),
                dataType: "json",
                contentType: "application/json; charset=utf-8"
            }).done(function (json){
                    m.id = json.id;
                    console.log("id=" + m.id + " " + json.toString());
                });
        };

        map.on('click', function(e) {
            var popLocation= e.latlng;
            console.log(popLocation);
            selected = $('input[name="SatelliteType"]:checked');
            model = selected.val();
            color = selected.data("color");
            icon = selected.data("icon");
            m = add_marker_to_map({
                lat: popLocation.lat,
                lng: popLocation.lng,
                name: model,
                color: color,
                icon: icon
            })
            add_marker_to_base(m);
        });


        function update_marker() {
            while(marker.length){
                marker.pop();
            }
            $.get({
                url: '/api/waypoint/all',
                dataType: "json",
                contentType: "application/json; charset=utf-8"
            }).done(function(json){
                      json.forEach(m => {
                          m.lat = m.latitude;
                          m.lng = m.longitude;
                          m.name = m.waypoint;
                          m.color = "gray";
                          m.icon = "crosshairs"
                          mark = add_marker_to_map(m);
                          mark.id = m.id;
                          marker.push(mark);
                      });
                  });
        };

        // $(update_marker());

        var intervalID = window.setInterval(
            update_marker,
            1000
        );
    </script>

{% endblock %}
